<div class="d-flex justify-content-center w-100 mb-4">
    <form action="" method="post" class="col-md-3">
        {% csrf_token %}
        <div class="form-floating">
            <input type="username" class="form-control" name="username" placeholder="User Name">
            <label for="username">User Name</label>
        </div>
        <div class="form-floating pb-3">
            <input type="password" class="form-control" name="password" placeholder="Password">
            <label for="password">Password</label>
        </div>
        <input type="submit" value="Submit" class="w-100 btn btn-lg btn-primary">
    </form>
</div>